[workspace]

members = [
    "crates/octopus-rpc",
    "crates/octopus-discovery",
    "crates/octopus-common",
]
resolver = "2"

[workspace.dependencies]

tokio = { version = "1.44.1" }
prost = { version = "0.13.5" }
prost-types = { version = "0.13.5" }


tonic = { version = "0.13.0" }
tonic-build = { version = "0.13.0", default-features = false, features = [
    "transport",
    "prost",
] }
tonic-types = { version = "0.13.0" }
dashmap = { version = "6.1.0" }
async-trait = { version = "0.1.88" }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0.140" }

# Error Handling
anyhow = { version = "1.0.97" }
thiserror = { version = "2.0.12" }
