[workspace]

members = [
    "crates/octopus-rpc"
]
resolver = "2"

[workspace.dependencies]

tokio = { version = "1" }
prost = { version = "0.13" }
prost-types = { version = "0.13" }
tonic = { version = "0.12" }
tonic-build = { version = "0.12", default-features = false, features = [
    "transport",
    "prost"
] }