[workspace]

members = ["crates/octopus-rpc", "crates/octopus-discovery"]
resolver = "2"

[workspace.dependencies]

tokio = { version = "1.43.0" }
prost = { version = "0.13.3" }
prost-types = { version = "0.13.5" }
tonic = { version = "0.12" }
tonic-build = { version = "0.12.3", default-features = false, features = [
    "transport",
    "prost",
] }
dashmap = { version = "6.1.0" }
async-trait = { version = "0.1.88" }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0.140" }
